*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,Helvetica,sans-serif;
}

body{
    height:100%;
    width:100%;
    background-color: #e5e5e5;
    /* overflow: hidden; */
    background-image: url("main_bg.png");
}

.container{
    display: block;
    width: 100%;
    height: 100%;
    height:100vh;
    padding-top:85px;
    /* padding-bottom: 75px; */
    padding-left:130px;
    padding-right: 50px;
    /* max-width:1280px; */
    /* overflow: hidden; */
}

.resume{
    display:flex;
    width:100%;
    height:100%;
    /* height:100vh; */
    /* margin-left: 7rem;
    margin-top: 5rem;
    margin-bottom: 6rem;
    margin-right: 2rem; */
    /* position: fixed; */
}

.resume_title{
    background-color: #04b4e0;
    flex:30%;
    color: #fff;
    border-radius: 2rem;
    z-index:2;
    overflow: auto;
}

.resume_title_img{
    padding:5rem 8rem 2rem 3rem;
}

.resume_title_img >img{
    border-radius:50%;
    height: 175px;
    width:175px;
}

.resume_title_name >h2{
    /* font-family: poppins,Helvetica,sans-serif; */
    text-align: center;
    padding-right: 1rem;
    /* padding-left: 3rem; */
    font-size: 30px;
    font-weight: 500;
}

.resume_title_name >h4{
    font-family: poppins,Helvetica,sans-serif;
    padding-right: 2rem;
    text-align: center;
    font-size: 20px;
    line-height: 3rem;
    font-weight: 400;
}

.resume_title_links >ul{
    display: flex;
    list-style: none;
    padding-right:1rem;
    justify-content: center;
}

.resume_title_links >ul>li{
   margin: 0.9rem;
}

.resume_title_btn{
    text-align: center;
    margin-top:1.5rem;
    padding-right: 2rem;
    /* padding:1.5rem 5rem 3rem 6rem; */
}

.resume_title_btn >button{
    border-radius: 3rem;
    font-family: poppins,Helvetica,sans-serif;
    padding: 0.7rem 2rem;
    color: #fff;
    background-color: #04b4e0;
    border: 2px solid #fff;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.resume_title_btn >button:hover{
    background-color: #fff;
    cursor: pointer;
    color: #04b4e0;
}

.resume_title_rights{
    text-align: center;
    margin-top:4rem ;
    padding-right: 2rem;
    /* padding-bottom: 0.5rem;  */
    font-size: 12px;
    line-height: 14px;
}

/*resume content*/

.resume_content{
    flex:70%;
    display:flex;
    flex-direction: row;
    border-radius: 2rem;
    z-index:6;
    margin-left: calc(-2.5vw);
   
}

.resume_content_Home{
    flex:93%;
    border-radius: 2rem;
    background-color: #fff;
    position: relative
}

.resume_content_Home >h1{
        font-size:45px;
    font-family: poppins,Helvetica,sans-serif;
    font-weight: 600;
    line-height: 50px;
    color: #222;
    text-align: center;
    margin-top: 15rem;
   
}

.resume_content_Home >h4{
    font-weight:200;
    color:rgba(0,0,0,0.4);
    text-align: center;
    font-size: 20px;
}

.resume_content_about{
    display:flex;
    flex:70%;
    border-radius: 2rem;
    z-index:6;
    margin-left: calc(-2.5vw);
    
}

.resume_content_AboutMe{
    flex:93%;
    background-color: #fff;
    border-radius: 2rem;
    line-height: 1.5rem;
    overflow: auto;
    padding:4rem
}

.resume_content_AboutMe >h2{
    font-family: poppins,Helvetica,sans-serif;
    font-size: 30px;
}

.resume_content_AboutMe >h2 >span{
    font-family: poppins,Helvetica,sans-serif;
}

.AboutMe_content{
    display: flex;
}

.AboutMe_content >p{
    flex:60%;
    font-family: poppins,Helvetica,sans-serif;
    margin-top: 2rem;
    font-size: 16px;
    line-height: 2rem;
    color: rgba(0,0,0,0.5);
    display:inline-block;
}

.AboutMe_content >ul{
    flex:40%;
    list-style: none;
    line-height: 2rem;
    margin-top: 2rem;
    color: rgba(0,0,0,0.5);
    margin-left: 1rem;
}

.AboutMe_content ul li{
    font-family: poppins,Helvetica,sans-serif;
    font-size: 16px;
}

.resume_content_Detail{
    flex:70%;
    display: flex;
    border-radius: 2rem;
    z-index:6;
    margin-left: calc(-2.5vw);
    
}

.resume_content_cv{
    
   flex:93%;
   background-color: #fff;
   border-radius: 2rem;
   padding:2rem;
    line-height: 1.5rem;
    display:flex;
    overflow: auto;
}

.cv_left{
    flex:60%;
    margin-right: 1rem;
}
.cv_right{
    flex:40%;
    margin-left: 1rem;
}

.cv_left >h2{
    font-family: poppins,Helvetica,sans-serif;
    font-size: 35px;
    margin:1rem;
    margin-left: 2rem;
    color:#222
}

.cv_Exp h3{
    margin-top: 2.5rem;
    margin-left: 2rem;
    font-size: 20px;
    color:#222
}

.cv_Exp1{
    margin-top: 1.7rem;
    display: flex;
    margin-left: 2rem;
    
}

.Exp1_left{
    flex:30%;
}

.Exp1_left h4{
    font-family: poppins,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 15px; 
    color:#222 ;
   
}

.Exp1_left h5{
    color: rgba(0,0,0,0.5);
    font-weight: 300;
    /* text-align: right; */
}

.Exp1_right{
    flex:70%;
   
    font-family: poppins,Helvetica,sans-serif;
    
}

.Exp1_right_content h4{
    font-family: poppins,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 16px;   
    color:#222;
    margin-left: 2rem;  
}

.Exp1_right_content{
    border-left: 1px solid rgba(0,0,0,0.1);
    position: relative;
    padding-bottom: 2rem;
     margin-left: 2rem;
}

.Exp1_right_content h4::before{
    content:"";
    width:1rem;
    height:1rem;
    background-color: #04b4e0;
    border-radius: 50%;
    position: absolute;
    left:-0.5rem

}

.Exp1_right_content p{
    font-family: poppins,Helvetica,sans-serif;
    font-size: 15px;
    margin-left: 2rem;
    color: rgba(0,0,0,0.7);
}

/*Exp2*/
.cv_Exp2{
    
    display: flex;
   
}

.Exp2_left{
    flex:30%;
    margin-left: 2rem;
}

.Exp2_left h4{
    font-family: poppins,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 15px; 
    color:#222  
}

.Exp2_left h5{
    color: rgba(0,0,0,0.5);
    font-weight: 300;
}

.Exp2_right{
    flex:70%;
    font-family: poppins,Helvetica,sans-serif;
    
}

.Exp2_right_content h4{
    font-family: poppins,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 16px;   
    color:#222;
    margin-left: 2rem;
}

.Exp2_right_content{
    border-left: 1px solid rgba(0,0,0,0.1);
    position: relative;
    margin-left: 2rem;
}

.Exp2_right_content h4::before{
    content:"";
    width:1rem;
    height:1rem;
    background-color: #04b4e0;
    border-radius: 50%;
    position: absolute;
    left:-0.5rem;
    /* border:1px solid #04b4e0;
    box-shadow: 0  0 20px 3px #04b4e0; */
}

.Exp2_right_content p{
    font-family: poppins,Helvetica,sans-serif;
    font-size: 15px;
    margin-left: 2rem;
    color: rgba(0,0,0,0.7);
}

/*Education*/

.cv_Edu h3{
    /* margin-top: 2rem; */
    font-size: 20px;
    margin-top: 2.5rem;
    margin-left: 2rem;
    color:#222
}

.cv_Education{
    display: flex;
}

.Edu_left{
    flex:30%;
    margin-top: 1.5rem;
    margin-left: 4rem;
    
}

.Edu_left h4{
    font-family: poppins,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 15px; 
    color:#222  
}

.Edu_left h5{
    color: rgba(0,0,0,0.5);
    font-weight: 300;
}

.Edu_right{
    flex:70%;
    margin-top: 1.5rem;
    margin-left: 4rem;
}

.Edu_right h4{
    font-family: poppins,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 16px;   
    color:#222;
    /* margin-left: 2rem; */
}

.Edu_right p{
    font-size: 15px;
    /* margin-left: rem; */
    color: rgba(0,0,0,0.7);
}

/*skills*/
.cv_right h3{
    margin-top: 5.4rem;
    margin-left:1rem;
    font-size: 20px;
    color:#222
}

.cv_right ul{
    margin-top: 1.5rem;
    list-style: none;
}

.cv_right ul li{
    font-size: 13px;
    font-weight: 600;
    color: #222;
    margin: 1rem;
}
.skills_percent{
    border:1px solid #04b4e0;
    height:11px;
    width:100%;
    border-radius: 10px;
}

.HTML_CSS{
    width:95%;
    background-color: #04b4e0;
    height:4px;
    margin:2px;
    /* padding: 3px; */
    border-radius: 10px;
}

.JS{
    width:85%;
    background-color: #04b4e0;
    height:4px;
    margin:2.2px;
    /* padding: 3px; */
    border-radius: 10px;
}

.react{
    width:75%;
    background-color: #04b4e0;
    height:4px;
    margin:2.4px;
    /* padding: 3px; */
    border-radius: 10px;
}

/*contact*/

.resume_content_contactinfo{
    flex:70%;
    display:flex;
    border-radius: 2rem;
    z-index:6;
    margin-left: calc(-2.5vw);
 
}

.resume_content_Contact{
     flex:93%;
     background-color: #fff;
    border-radius: 2rem;
    overflow: auto;
    
}

.resume_content_Contact >h2{
    font-family: poppins,Helvetica,sans-serif;
    font-size: 32px;
    margin:2.5rem;
}

.Contact_info{
    padding-left:3rem;
    line-height: 1.5rem;
    display:flex;
   
}

.Contact_info_left{
    flex:30%;
}


.Contact_info_left >ul{
    list-style: none;
    display:inline-block;
    
    /* margin-top: 0.5em; */
}

.Contact_info_left >ul>li{
    border: 1px solid #e5e5e5;
    margin-bottom:1rem;
    /* margin:1rem; */
    padding: 2rem;
    text-align: center;
    background-color: #fcfcfc;
}

.Contact_info_left >ul>li>p{
    margin-top:0.5rem;
    font-size: 16px;
}

.Contact_info_right{
    flex:70%;
    display:flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 4rem;
}

.Contact_Maps{
    flex:30%;
}

.Contact_Form{
    flex:70%;
    margin-top:1.5rem
}

.Form_inputgroup_1 >div>input{
    margin-top: 1.5rem;
   padding:0.8rem;
   border-radius: 0.5rem;
   border: 2px solid #e5e5e5;
   box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
   
}

.Form_input{
    display:flex;   
}

/* .Form_input ul li input{
    color:rgba(0,0,0,0.5);
    font-size: 15px;
} */

.Form_inputgroup_1{
    flex:50%;
}

.Form_inputgroup_1 >div{
    position: relative;
}
.Form_inputgroup_1 >div>span {
    position: absolute;
    left:8px;
    bottom:0.6rem
}

.Form_inputgroup_1 >div>input:focus {
    outline-color: #04b4e0;
}

.Form_inputgroup_1 >div>input:focus ~ span,
.Form_inputgroup_1 >div>input:valid ~ span{
    color:#04b4e0;
    font-size: 13px;
    transform: translateY(-32px) translateX(-2px);
    
}

.Form_inputgroup_2{
    flex:50%
}
.Form_inputgroup_2 >div>textarea{
    height:90%;
    width:100%;
    margin-left: 1rem;
    border: 2px solid #e5e5e5;
    margin-top: 1.5rem;
    padding:0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.Form_inputgroup_2 >div{
    position: relative;
    height:100%;
}

.Form_inputgroup_2 >div>span{
    position: absolute;
    left:25px;
    bottom:150px
}

.Form_inputgroup_2 >div>textarea:focus ~ span{
/* .Form_inputgroup_2 >div>textarea:valid ~ span{ */
    color:#04b4e0;
    transform: translateY(-30px);
    font-size: 13px;
}

.Form_inputgroup_2 >div>textarea:focus{
    outline-color: #04b4e0;
}

button{
    border:2px solid #04b4e0;
    border-radius: 2rem;
    padding:0.7rem 2.5rem 0.7rem 2.5rem;
    font-size: 15px;
    background-color: #fff;
    color:#222;
    margin-top:1rem;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}

button:hover{
    background-color: #04b4e0;
    color:#fff
}

.textarea{
    visibility: hidden;
}

/*resume_nav*/

.resume_nav{
    flex:7%; 
   
}

.resume_nav_links{
    border:1px solid black;
    border-radius: 3rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.resume_nav_links ul{
    list-style: none;
}

.resume_nav_links ul li{
   margin-top: 2rem;
   margin-bottom: 2rem;
   text-align: center;
   padding: 0 0.3rem
   
}

/* .resume_nav_links ul>li>a>i:hover{
    background-color: #04b4e0;
    /* transition-property: ba;
    transition: margin-left 10s ease-in-out; */


.resume_nav_links ul li span{
    display:none
}

.resume_nav_links ul>li:hover span{
    color: #fff;
    background-color: #04b4e0;
    border:1px solid #04b4e0;
    padding:0.5rem;
    font-family: poppins,Helvetica,sans-serif;
    font-size: 16px;
    display: inline;
    /* transition: 3s; */
}

.resume_nav_arrows{
    border:1px solid black;
    position: absolute;
    top:35rem;
    /* margin-top: 13rem; */
    border-radius: 3rem;
    margin-left: 1rem;
}

.resume_nav_arrows ul{
    list-style: none;
}

.resume_nav_arrows ul li{
   margin-top: 2rem;
   margin-bottom: 2rem;
   text-align: center;
   padding:0 0.8rem
}

.resume_nav_arrows ul>li>i:hover{
    color:#04b4e0
}

/*customscrollbar*/

/* .resume_content_Contact::-webkit-scrollbar-thumb{
    background-color: #04b4e0;
} */

/*animation*/

/* .resume_content_AboutMe_moveToLeft{
    animation: moveToLeft 0.6s ease both 
}

@keyframes moveToLeft {
        from { }
        to { transform: translateX(-50%); }
    
}

.resume_content_cv:hover{
    animation: moveToRight 0.6s ease both 
}

@keyframes moveToRight {
        from { }
        to { transform: translateX(50%); }
    
} */

/*Hamsburger*/
.hams_menu{
   display: none;
}
.hams_show{
    width:100%;
    height:100%;
        background-color: #fff;
        display: none;
}
.showmenu{
    display:none
}

/*mediaqueries*/

@media screen and (min-width:375px) and (max-width:1023px) {
    .resume{
        position:fixed;
    }
    .resume_title{
        display:none;
    }
    .resume_nav_links{
        display: none;
    }
    .container{
        padding: 0;
    }
    .resume_nav{
     flex:0
    }
    
    .resume_content_Home{
        border-radius: 0;
    }
    .resume_nav_arrows ul>li{
        margin-top:1.5rem;
        margin-bottom: 1.5rem;
        padding-left: 0.8rem;
        padding-right:0.8rem;
    }
    .resume_nav_arrows{
        border: 2px solid #04b4e0;
        position: absolute;
        top:33.7rem;
        right:1.3rem;
    }
    .resume_content_Home >h1{
        text-align: center;
        font-size: 40px;
    }
   
    .AboutMe_content{
        display:block;
    }
    .AboutMe_content >ul{
        margin-left: 0;
    }
    .resume_content_AboutMe{
        border-radius: 0;
    }
    .resume_content_cv{
        border-radius: 0;
        display: block;
    }
    .cv_Exp1{
        display:block;
    }
    .cv_Exp2{
        display: block;
    }
    .cv_Education{
        display: block;
    }
    .Exp1_left{
        border-left: 1px solid rgba(0,0,0,0.1);
    }
    .Exp1_left >h4{
        text-align: start;
        margin-left: 2rem;
    }
    .Exp1_left >h5{
        text-align: start;
        margin-left: 2rem;
       
    }
    .Exp1_right_content{
        margin-left:0
    }
    .Exp1_right_content h4::before{
        top:-3rem
    }

    .Exp2_left{
        border-left: 1px solid rgba(0,0,0,0.1);
    }
    .Exp2_left >h4{
        text-align: start;
        margin-left: 2rem;
    }
    .Exp2_left >h5{
        text-align: start;
        margin-left: 2rem;
    }
   
    .Exp2_right_content h4::before{
        top:-3rem
    }
    .Exp2_right >p{
        margin-right: 1.2rem;
    }
    .Edu_left >h4{
        text-align: start;
        /* margin-left: 2rem; */
    }
    .Edu_left >h5{
        text-align: start;
        /* margin-left: 2rem; */
    }
    .Edu_right{
        margin-top: 0;
        margin-left: 2rem;
       
    }
    .Edu_right >h4{
        margin-left: 2rem;
    }
    .Edu_right >p{
        margin-left: 2rem;
    }
    /* .cv_Education{
        position: relative;
        border-left: 1px solid rgba(0,0,0,0.1);
    }
    .Edu_left h4::before{
        content:"";
        width:1rem;
        height:1rem;
        background-color: #04b4e0;
        border-radius: 50%;
        position: absolute;
        left:2rem;
    } */
     
    .cv_right {
        margin-left: 2rem;
    }
    .cv_right ul{
        margin-right: 2.5rem;
    }
    .cv_right ul li{
        margin: 0;
    }
    .cv_right ul li span{
        margin-left: 8.5rem !important;
    }
    .cv_right ul li:nth-child(2) span{
        margin-left: 8.5rem !important;
    }
    .cv_right ul li:last-child span{
        margin-left: 9.5rem !important;
    }
    .cv_right h3{
        margin-left: 0;
    }
    .Contact_info{
        display: block;
        padding-left: 0;
    }
    .Contact_info_left{
        margin:0 3rem;
    }
    .Contact_info_left >ul>li{
        padding:1.5rem 1.5rem;
        
    }
    .Contact_Maps{
        
        width:70vw;
        /* height:20vh */
    }
    .Contact_info_right{
        margin:1rem 3rem;
    }
    .Form_input{
        display: block;
    }
    .Form_input textarea{
        margin-left: 0;
        width:70vw
    }
    .Form_input ul>li >input{
        width:70vw;
    }
    .resume_content_Contact {
        border-radius: 0;
    }
    /*Hamsburger*/
    .hams_menu{
        display:block;
        border: 1px solid #04b4e0;
        position:absolute;
        top:1rem;
        right:1.3rem;
        border-radius: 50%;
        background-color: #04b4e0;
        padding: 0.8rem;
    }
    .showmenu{
        background-color: #04b4e0;
        padding-top: 2rem;
        margin-left: 1.5rem;
        text-align: center;
        z-index: 10;
        position: absolute;
        top:0rem;
        right:0rem;
        overflow: scroll;
        height:100%
    }
    .resume_title_img{
        padding:0
    }
    .resume_title_img >img{
        height:150px;
        width:150px;
    }
    .resume_title_name >h2{
        font-size:27px;
        font-weight: 600;
        color: #fff;
        margin-top: 2rem;
        padding-left: 1rem;
    }
    .resume_title_name >h4{
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        padding-left: 0;
        line-height: 2rem;
        margin-top: 0.5rem;
        padding-right: 0;
    }
    .showmenu_links >ul{
        list-style: none;
        margin: 1rem;
    }

.showmenu_links ul>li{
    margin:1.5rem;
}
    .showmenu_links >ul>li >a{
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        color:#fff;
        
    }
    .resume_title_links >ul{
        margin-top: 1rem;
        padding-right: 0;
        /* padding-left:8rem; */
    }
    .resume_title_links >ul>li>a{
        margin:0.2rem
    }
    
    .resume_title_btn{
        padding-right: 0;
    }

    .resume_title_rights {
        padding-left: 1rem;
        padding-right: 0;
    }
    .hams_show{
        display: block;
    }
    .Form_inputgroup_1 >div >label{
        display:block
    }
    .Form_inputgroup_1 >div>input{
        width:70vw
    }
    .Form_inputgroup_2  >div>textarea{
        margin-left:0;
        width:70vw;
        height:40vw;
    }
    .Form_inputgroup_2 >div>span{
        bottom:120px;
        left:15px;
    }

    .Form_inputgroup_2 >div>textarea:focus ~ span{
        /* .Form_inputgroup_2 >div>textarea:valid ~ span{ */
            transform: translateY(-35px) translateX(-10px);
        }

    .Contact_info_left >ul {
        width: 70vw;
    }
}

@media screen and (min-width:425px) and (max-width:1024px) {
    .hams_show{
        display: block;
    }
    .resume_content_Home >h4{
        right: 125px;
    }
    .Exp1_left::before{
        right:17.8rem
    }
    .Exp2_left::before{
        right:17.8rem
    }
    .Edu_left::before{
        right:17.8rem
    }
    .cv_right ul li span {
        margin-left: 11.5rem !important;
    }
    .cv_right ul li:nth-child(2) span {
        margin-left: 11.5rem !important;
    }
    .cv_right ul li:last-child span {
        margin-left: 12.5rem !important;
    }
     .Contact_info_left >ul{
        width:70vw
    }
    .Form_inputgroup_2 >div>span{
        bottom:140px;
        left:10px
    }
}
    /* .Contact_Maps {
        width:100%
    }
    .Form_input ul>li >input {
        width: 100%;
    }
    .Form_input textarea{
        width:100%;
    } */ 
    


@media screen and (min-width:768px) and (max-width:1023px) {
    .resume_nav{
       flex:0;
    }
    .resume_content_Home >h4{
        right: 300px;
        top:320px
        /* margin-left:auto; */

    }
    .AboutMe_content{
        display:flex
    }
    .AboutMe_content >ul {
        margin-left: 1.5rem;
    }
    .Contact_info{
        display: flex;
    }
    .Contact_info_left{
        margin-right:0;
        margin-left: 2rem
    }
    .Contact_info_right{
        margin-left: -1rem;
        margin-right: 5rem;
        margin-top:0
    }
    .Contact_info_left >ul {
        width: 70%;
        margin-left: 3rem;
    }
    .Form_input{
        display: flex;;
    }
    .Contact_Maps{
        width:100%
    }
    .Form_inputgroup_1 >div>input {
        width: 100%;
    }
    .Form_inputgroup_1{
        margin-right:1rem
    }

    .Form_inputgroup_2>div>textarea {
        /* margin-left: 1rem; */
        width: 100%;
        height: 90%;
    }

    .Form_inputgroup_2 >div>span{
        bottom: 150px;
    }
    .resume_content_Contact >h2 {
        margin-left: 4.5rem;
    }
    .hams_menu {
        right:0.6rem
    }
    .resume_nav_arrows{
        right:0.6rem;
        top:33rem;
    }
}

@media screen and (min-width:1024px) {
   
    .resume{
        height: fit-content;
    } 

    .container{
        padding-left: 50px;
        /* padding-top: 110px; */
    }

    .hams_show {
        display: none;
    }

    
  
    .resume_content_Home >h1{
        /* top:350px; */
        /* padding-top: 8rem; */
    }
    .resume_content_Home >h4{
        /* right: 430px; */
    /* top: 420px; */
    }
    .Contact_info_left >ul {
        width: 20vw;
    }
    .Contact_info_right {
        margin-right: 2rem;
        margin-left: 1rem;
    }
    .Contact_info{
        padding-left: 1.5rem;
    }

    .Form_inputgroup_2 >div>span {
        bottom: 150px;
        left: 30px;
    }

    .Contact_info_left >ul>li{
        padding:1.5rem
    }
    .Form_inputgroup_2{
        width:100%
    }
  
     
}

.active{
    display:block;
}

.inactive{
    display:none;
}

@media screen and (min-width:1440px) {
   
    .resume_content_Home >h1{
        
        padding-top: 0rem
    }
    .resume_nav_arrows{
        top:33.5rem;
    }
    .resume_title_img{
        padding:5rem 8rem 2rem 7rem;
    }

    
    .Contact_info_right {
        margin-right: 4rem;
        margin-left: 2rem;
    }
    .Contact_info{
        padding-left: 3rem;
    }

    .Form_inputgroup_2 >div>span {
        bottom: 150px;
        left: 10px;
    }

    .Contact_info_left >ul>li{
        padding:1.5rem
    }
    .container{
        padding-left: 50px;
        padding-top: 85px;
    }
    .Form_inputgroup_2 >div>textarea{
        margin-left: 0;
    }

    .cv_Exp h3{
        margin-top: 0;
    }
    .cv_Edu h3{
        margin-top: 0;
    }
}

